.contacts_block button,
.updates_block button {
    font-size: 90%;
}
.search_input {
    width: 50% !important;
    max-width: 436px !important;
    min-width: 158px;
}
.contacts_block, .form_block {
    width: calc(33.333333% - 10px);
    margin: 10px 0;
    display: inline-block;
    order: 2;
}
.form_block {
    margin-top: 15px !important;
    margin-left: 5px !important;
    margin-bottom: 15px !important;
    order: 3;
}
.contact {
    widows: 100%;
    position: relative;
    border: 1px solid #F0F0F0;
    margin: 5px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.contact:hover {
    background: #FAFAFA;
}
.contact_section {
    width: 33.333333%;
    min-width: 130px;
    height: auto;
    float:left;
    margin: 10px;
    font-size: 100%;
}
.contact_section.name_phone {
    margin-right: 0 !important;
    width: 20% !important;
}
.contact_section.name_phone .phone {
    font-weight: bold;
    font-size: 95%;
}
.contact_section .line {
    color: black;
    font-weight: 600;
    border-bottom: 1px solid #F0F0F0;
    padding: 5px;
    display: block;
    text-align: center;
}
.contact_section .line > span:first-child:hover {
    text-decoration: underline;
    cursor: pointer;
}
.contact_section.with_pic {
    width: 100px !important;
    margin-left: 0;
    border: 1px solid #F0F0F0;
    border-radius: 50%;
    display: flex;
}
.contact_section img {
    width: 100%;
    height: 100%;
    border: 5px solid white;
    cursor: pointer;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;

}
.contact_section button {
    float: left;
    margin: 2px;
    width: 130px;
    display: block;
    clear: both
}

.updates_block {
    width: 100%;
    text-align: center;
}
.updates_block h2 {
    font-size: 110%;
    border-bottom: 1px solid #F0F0F0;
    padding: 5px;
}
.updates_block label {
    display: inline-block;
    width: 130px !important;
    margin: 5px 0;
    float: left;
}

.selectric-wrapper {
    width: 50%;
    display: inline-block;
}
.short_input {
    width: 25% !important;
}
.short_span {
    display: inline-block;
    margin: 0 3.929520127002091% !important;
}

@media only screen and (max-width: 1024px) {

    .form_block {
        width: 100%;
        order: 1;
    }
    .contacts_block {
        width: calc(50% - 10px) !important;
    }
}

@media only screen and (max-width: 533px) {

    .tab_content {

    }
    .tabs ul li {
        text-align: center;
    }

    .hide_for_w533 {
        display: none;
    }
    .tab_top_ctrls_wrapper {
        width: calc(100% - 10px) !important;
    }

    .search_input {
        width: 100% !important;
        border-radius: 5px 5px 0 0 !important;
        padding: 10px !important;
    }
    .search_btn {
        width: 100% !important;
        border-radius: 0 0 5px 5px !important;
        margin-left: 4px;
    }

    .contacts_block {
        width: 100% !important;
    }

}

@media only screen and (max-width: 414px) {

    .short_input {
        width: 100% !important;
        margin: 7px 0 7px 0 !important;
    }

} 