input[type="text"], input[type="password"], textarea {
    height: 33px;
    width: 50%;
    border: 1px solid #DDD;
    border-color: #cccccc;
    border-width: 1px;
	outline: none;
	margin: 0;
	padding: 0 0 0 17px; 

    box-shadow: inset 2px 2px 2px 0px rgba(42, 42, 42, .12);

    border-radius: 5px;
}
input[type="text"]:focus, 
input[type="password"]:focus,
textarea:focus {
	border-color: #27A9FF;
}

.input_with_btn {
	border-radius: 5px 0 0 5px !important;
	margin-right: -4px !important;
}
.btn_for_input {
	border-radius: 0 5px 5px 0 !important;
}