/* START Reset */
* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;

	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
/* END Reset */


/* START Forms */
input[type="text"], input[type="password"], textarea {
    height: 33px;
    width: 50%;
    border: 1px solid #DDD;
    border-color: #cccccc;
    border-width: 1px;
	outline: none;
	margin: 0;
	padding: 5px 15px; 

    box-shadow: inset 2px 2px 2px 0px rgba(42, 42, 42, .12);

    border-radius: 5px;
}
input[type="text"]:focus, 
input[type="password"]:focus,
textarea:focus {
	border-color: #27A9FF;
}

input[type="checkbox"],
input[type="radio"] {
    display:none;            
}
input[type="checkbox"] + label,
input[type="radio"] + label {

}
input[type="checkbox"] + label::after,
input[type="radio"] + label::after {	
	font-family: FontAwesome;
	font-size: 160%;
    content: "\f096";
    display: inline-block;
    margin: 0 10px;
    color: #27a9ff;
    cursor: pointer;
}
input[type="radio"] + label::after {
	content: "\f10c";
}
input[type="checkbox"]:checked + label::after {
	content: "\f046";
}
input[type="radio"]:checked + label::after {
	content: "\f05d";
}
textarea {
	resize: none;
	padding-top: 8px;
	min-height: 75px;
	font-family: "Open Sans", sans-serif;
	font-size: 87.5%; /* Base size - 14px */
	min-height: 25px;
}
textarea:focus {
	min-height: 75px;
}
button {
	padding: 9px 15px;
    background-color: #27a9ff;
    color: white;
    font-weight: bold;
    min-width: 100px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 95%;

    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
button:hover {
	background-color: #2785ff;
}
button.icon_btn {
	width: auto;
	min-width: 30px;
	margin: 0 5px;
}
.input_with_btn {
	border-radius: 5px 0 0 5px !important;
	margin-right: -4px !important;
}
.btn_for_input {
	border-radius: 0 5px 5px 0 !important;
}

.form_block {
    border: 1px solid #F0F0F0;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.field_line {
	width: 100%;
	margin: 7px 10px;

	display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.field_line label {
	width: 40% !important;
	min-width: 40% !important;
	display: inline-block;
	text-align: left;
	padding-left: 10px;
}
.toggle_menu {
    position: relative;
}
.toggle_menu ul {
    position: absolute;
    list-style: none;
    top: 32px;
    right: 0;
    max-height: 0;
    overflow: hidden;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.toggle_menu ul li {
    background-color: #27a9ff;
    padding: 10px;
    min-width: 150px;
    text-align: left;
    box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
.toggle_menu ul li i {
    margin: 0 5px;
}
.toggle_menu ul li:hover {
    background-color: #2785ff;
}
.toggle_menu:hover > ul {
    max-height: 500px;
}
/* END Froms*/

/* START Tabs */
.tabs {
    display:inline-block;
    width:100%;
}
.tabs > div{
    padding-top:10px;
}
.tabs ul {
    margin:0px;
    padding:0px;
    width: 100%;
}
.tabs > ul > li {
    list-style: none;
    font-weight: bold;
    font-size: 95%;
    border: none;
    background-color: #222d32;
    padding: 10px 15px;
    color: white;
    float:left;
    cursor: pointer;
    width: 33.333333%;

    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
.tabs > ul > li.active, .tabs > ul > li.active:hover {
    background:#27a9ff;
    color:#fff;
}
.tabs > ul > li:hover{
    background-color: #111;
    color: #27a9ff;
}
.tabs > ul > li i {
    margin: 0 10px;
}
.tab {
    width: 100%;
    float: left;
}
.tab_content {
    height: 100%;
    /*min-height: 500px;*/
    padding: 10px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
.tab_top_ctrls_wrapper {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    margin: 5px;
    text-align: right;
}
/* END Tabs*/

.left {
	float: left;
}
.w50p {
	width: 50% !important;
}
.pb120px {
	padding-bottom: 50px !important;
}
.no_b_border {
    border-bottom: none !important;
}
.status_online {
	display: block;
	color: #30B512;
	font-weight: bold;
	font-size: 85%;
	text-align: center;
	padding-top: 3px;
}
.status_offline {
	display: block;
	color: red;
	font-weight: bold;
	font-size: 85%;
	text-align: center;
	padding-top: 3px;
}
.invisible {
	visibility: hidden;
}
.clear {
	clear: both;
}

/* START Selectric */
.selectric-items li.selected {
	color: white;
	background-color: #2785ff;
}
.selectric-items li:hover {
  background: #27a9ff;
  color: #fff;
}
/* END Selectric */

/* START Responsiveness */
.show_for_w533 {
	display: none;
}

@media only screen and (max-width: 1023px) {
    .hide_for_w1023{
        display: none;
    }
}
/* END Responsiveness */

