#user_location_map * {
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: color 0 ease-in;
}
html {
	background-color: #222d32;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 87.5%; /* Base size - 14px */
}
a {
	text-decoration: none;
}
h1 {
	font-size: 120%;
	/*border-bottom: 1px solid #ccc;*/
    padding: 5px;
}

div#container {
	width: 100%;
	max-width: 1920px;
	height: 100vh;
	margin: 0 auto;
	position: relative;

	display: flex;
    min-height: 100vh;
    flex-direction: column;

}

header#inner {
	width: 100%;
	height: 50px;
	background-color: #27a9ff;
	position: relative;
	order: 1;

	box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);	
}
header#inner .logo {
    margin: 5px 0 0 50px;
    color: white;
    font-size: 150%;
    font-weight: bold;
    display: inline-block;
}
header#inner .logo img {
	width: 50px;
	float: left;
	cursor: pointer;
}
header#inner .logo_text {
	float: left;
	margin: 7px 0 0 5px;
	cursor: pointer;
}

div#menu_toggle {
	width: 100%;
	color: white;
	text-align: left;
	background-color: #222d32;
    font-size: 130%;
    display: none;
    order: 2;
}
div#menu_toggle .btn_wrap {
	padding: 5px 10px;
    display: inline-block;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}
div#menu_toggle .btn_wrap:hover {
	background-color: #27a9ff;
}
div#menu_toggle .text {
    font-size: 60%;
    display: inline-block;
    font-weight: bold;
}

div#content_wrapper {
	width:100%;
	position: relative;
	background-color: #222d32;
	order: 3;
	flex: 1;
}

header div#user_top_panel {
	float: right;
	margin: 0 50px 0 0;
	width: auto;
	height: 50px;
	color: white;
	position: relative;
}
header div#user_top_panel .buttons {
	position: relative;
	height: 100%;
	float: left;
}
header div#user_top_panel .btn {
    float: left;
    position: relative;
    height: 100%;
    padding: 13px 10px;
    font-size: 130%;
    width: 40px;
    text-align: center;
    position: relative;

    text-shadow: -3px 3px 0 rgba(0, 0, 0, 0.25);
}
header div#user_top_panel .btn:hover {
	background-color: #2785ff;
	cursor: pointer;
}
header div#user_top_panel .btn .bubble {
    font-size: 50%;
    top: 10px;
    right: 0;
    position: absolute;
    background-color: #2773ff;
    border-radius: 50%;
    text-shadow: none;
}
header div#user_top_panel .btn .bubble:hover {
	color: white;
}
header div#user_top_panel .logged_in_as {
	float: left;
	margin: 0 10px;
	padding: 0 5px;
	height: 100%;
}
header div#user_top_panel .logged_in_as:hover {
	background-color: #2785ff;
}
header div#user_top_panel .logged_in_as img {
    width: 45px;
    margin: 2px 0 0 0;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}
header div#user_top_panel .logged_in_as .text {
	display: inline-block;
    float: left;
    margin: 7px 10px;
    font-size: 85%;
}
header div#user_top_panel .logged_in_as .text strong:hover {
	text-decoration: underline;
	cursor:pointer;
}

nav#main_nav {
	width: 250px;
	height: 100%;
	min-height: calc(100vh - 150px);
	background-color: #222d32;
	float:left;
	overflow: hidden;
}
nav#main_nav .section_heading {
    width: 100%;
    font-size: 85%;
    text-transform: uppercase;
    color: #777;
    text-align: center;
    padding: 25px 0 0 0;
}
nav#main_nav ul {
	padding: 15px 0 0 0;
}
nav#main_nav ul li {
	list-style: none;
	border-bottom: 1px solid #222d32;
	font-weight: bold;
    font-size: 85%;

    box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);

    border-bottom: 1px solid #333;
}
nav#main_nav ul li:hover > a {
	color: #27a9ff;
	padding-left: 50px;
	background-color: #111;
	border-left: 3px solid #27a9ff;
}
nav#main_nav ul li a {
	display: block;
	color: #ccc;
	padding: 10px 25px;
}
nav#main_nav ul li a i {
	margin: 0 15px 0 0;
	font-size: 130%;
}

.bubble {
	padding: 4px;
    background-color: #27a9ff;
    color: white;
    float: right;
    display: inline-block;
    border-radius: 2px;
    font-size: 90%;
    margin-top: -4px;
}
.bubble:hover {
	background-color: white;
	color: #27a9ff;
}

div#page_content {
	padding: 10px 20px;
	margin-left: 250px;
	background-color: #ecf0f5;
    height: 100%;
    min-height: calc(100vh - 150px);
}

.section {
    position: relative;
    background: none repeat scroll 0 0 #fff;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    margin: 10px 0;
    font-size: 90%;
    overflow: hidden;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.section h1 {
	font-size: 95%;
    border: none;
    background: #27a9ff;
    padding: 10px 15px;
    color: white;
    border-bottom: 1px solid #CBE0EE;

	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
.section h1 .right {
	cursor: pointer;
}
.section h1 .right:hover > span {
	text-decoration: underline;
}
.section h1 .right i {
	margin: 0 10px;
}
.section_content {
	padding: 15px;
}
.section_footer {

	padding: 5px 15px;
	border-bottom: 1px solid #F0F0F0;

	box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
	-o-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
.footer_buttons {
	float: right;
}

div#user_information {
	width:100%;
	float: left;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

div#user_location_map {
	float: left;
	width: 300px;
	/*min-width: 300px;*/
	height: 400px;

	box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
	-o-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);

	order: 3;

}
div#user_location_map  > div {
	border: 7px solid white;
}
div#user_location_map  > div > div {
	border: 1px solid #F0F0F0;
}

div#profile_pic_and_buttons {
	float: left;
	position: relative;
	float: left;
	order: 1;
}
div#profile_pic_and_buttons img {
	width: 200px;
	border: 7px solid white;

	box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -o-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
div#profile_pic_and_buttons .buttons button {
	display: block;
	width: 200px;
	margin: 5px 0;
}

div#profile_pic_and_buttons:hover .image_toolbar {
	min-height: 23px;
}
div#profile_cover_and_accordeon {
	/*min-width: 415px;*/
	min-height: 400px;
	height: auto;
	position: relative;
	width: calc(100% - 520px);
	float: left;
	padding: 7px;
	margin: 0 10px;

	box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -o-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);

    order: 2;
}
div#profile_cover {
    height: 270px;
    overflow: hidden;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    position: relative;

}
div#profile_cover:hover > .image_toolbar {
	min-height: 23px;
}
div#profile_cover img {
	width: 100%;
	visibility: hidden;
}
div#status_text {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	margin: 10px;
	background-color: white;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;

	box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
div#status_date {
	float: right;
	color: #C4BFBF;
	font-weight: bold;
	font-size: 90%;
	padding: 5px;
}

div.last_added_contacts_content {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items:center;
}
ul#last_added_contacts {
	list-style: none;
	margin: 0 auto;

	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
ul#last_added_contacts li {
	width: 114px;
	list-style: none;
	float: left;
	margin: 10px 5px;
}
.contact_profile_pic_wrap {
	width: 114px;
	padding: 7px;
	border: 1px solid #F0F0F0;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;

	display: flex;
}
ul#last_added_contacts li img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	cursor: pointer;

	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
}
.contact_profile_pic_wrap:hover,
ul#last_added_contacts li img:hover {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;

}
.statuc_and_user_name {
	display: block;
	font-weight: bold;
	text-align: center;
	margin: 5px 0;
	height: 52px;
}
ul#last_added_contacts li .contact_profile_pic_wrap:hover .user_name {
	color: #27a9ff;
}
.user_name:hover {
	color: #27a9ff;
	cursor: pointer;
	text-decoration: underline;
}

ul#last_added_photos {
	list-style: none;
	margin: 0 auto;

	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
ul#last_added_photos li {
	list-style: none;
	float: left;
	position: relative;
	/*margin: 10px 5px;*/
}
ul#last_added_photos li img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #F0F0F0;

	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
}
ul#last_added_photos li img:hover {

	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}
.photo_short_info {
	width: 100%;
	color: #9B9A9A;
	font-size: 90%;
	position: absolute;
	bottom: -50px;
	right: 0;
	display: none;
	background-color: white;
	padding: 4px;
	z-index: 9999;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
.photo_short_info .line {
	padding: 0 4px;
}
.photo_short_info .line i {
	margin: 0 4px;
}
ul#last_added_photos li:hover .photo_short_info {
	display: block;
}

section#user_contacts ul {
	margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-top: none;
    padding: 15px 0 15px 0;
}
section#user_contacts ul li {
    float: left;
    margin: 5px;
    cursor: pointer;
    position: relative;
}
section#user_contacts ul li:hover .contact_name {
	color: #27a9ff;
}
section#user_contacts ul li .pic_holder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid lightgray;
}
section#user_contacts ul li img {
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-radius: 50%;
}
section#user_contacts ul li .contact_name {
    text-align: center;
    margin-top: 5px;
}
section#user_contacts ul li .status {
    width: 8px;
    height: 8px;
}
.status {
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    bottom: 27px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #30B512;
}
section#user_photos {
	margin-top: 10px !important;
}
section#user_photos ul {
	margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-top: none;
    padding: 15px 0 15px 0;
}
section#user_photos ul li {
    float: left;
    margin: 5px;
    cursor: pointer;
    position: relative;
}
section#user_photos ul li .pic_holder {
    width: 80px;
    height: 80px;
    border: 1px solid #F0F0F0;
}
section#user_photos ul li img {
    width: 100%;
    height: 100%;
    border: 5px solid white;
}

.right {
	float: right;
}
.clear {
	clear: both;
}

.likes_dislikes_wrapper {
	display: inline-block;
	margin: 0 10px;
	font-size: 100%;
}
.likes_dislikes_wrapper i {
	font-size: 155%;
	display: inline-block;
	margin: 0 5px;
	color: #27a9ff;
	cursor: pointer;
}
.likes_dislikes_wrapper i:hover {
	color: #2785ff;
}
.likes_dislikes_wrapper .likes,
.likes_dislikes_wrapper .dislikes {
	display: inline-block;
	margin: 0 5px;
}
.likes_dislikes_wrapper .likes .count {
	color: #00C500;
}
.likes_dislikes_wrapper .dislikes .count {
	color: red;
}

.status.online {
	color: #30B512;
}
.status.offline {
	color: red;
}

.image_toolbar {
	background-color: #222d32;
	position:absolute;
	top: 0;
	left: 0;
	color: white;
	text-align: right;
	width: 100%;
	min-height: 0;
	height: 0;
	overflow: hidden;

	opacity: 0.5;
}
.image_toolbar:hover {
	opacity: 0.85;
}
.image_toolbar i {
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}
.image_toolbar i:hover {
	color: #27a9ff;
}


.accordeon * {
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: color 0 ease-in;
}
.accordeon section h1 {
	cursor: pointer;
}
.accordeon .accordeon_panel {
	display: none;
	overflow: hidden;
}
.accordeon_panel .info_line {
	width: 100%;
    padding: 7px;
    vertical-align: middle;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.accordeon_panel .info_line:hover {
	background: #FAFAFA;
}
.accordeon_panel .info_line .info_title {
	min-width: 120px;
    font-weight: bold;
    color: black;
    display: block;
    padding-left: 10px;
}
.accordeon_panel .info_line .info_data {
	color: black;
    margin-left: 15px;
}
.accordeon_panel .info_line.second.underlined {
	border-bottom: 1px solid #F0F0F0;
}

.nm_crnode {
	display: none !important;
}

aside#contacts_and_photos {
	width: 320px;
	float: right;
	margin: 0 0 0 10px;
}

aside#contacts_and_photos .section {
	margin: 0;
}

footer#inner {
	width: 100%;
	height: 100px;
	background-color: #222;
	order:4;
}

/* START Diary */
.diary_add_record_form {
	margin: 10px;
	position: relative;
}
.diary_add_record_form textarea {
	width: 100%;
}
.diary_record {
	font-size: 110%;
}
.diary_record h1 {
	font-size: 95%;
    background: white;
    padding: 10px 15px;
    color: black;
    border: none;
    border-bottom: 1px solid #F0F0F0;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;

    text-shadow: none;
}
.diary_record_author {
	width: 64px;
    float: left;
    border:1px solid #F0F0F0;
    overflow: hidden;

    border-radius: 50%;
}
.diary_record_author img {
    width: 62px;
    height: 64px;
    float: left;
    display: inline-block;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;

    border: 3px solid white;

    border-radius: 50%;

}
.diary_record_title,
.diary_record_date {
    margin: 25px 0 0 10px;
    display: inline-block;
}
section#diary .section_content {
	padding: 0;
}
.diary_record_content {
	padding: 15px;
}
.diary_record_content p {
	padding: 0 10px 10px 10px;
}
.diary_record_images {
	width: 100%;
	margin:0;
	padding:0;

	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.diary_record_images li {
	float: left;
	list-style: none;
	margin:5px 5px 0 5px;
}
.diary_record_images li img {
	width: 100%;
}
.diary_record_images li {
	/*width: calc(20% - 50px);*/
	width: calc(20% - 14px);
}
.diary_record_images li:first-child,
.diary_record_images li:nth-child(2) {
	width: calc(50% - 20px) !important;
}
/* END Diary */

/* START Notifications */
	div#notifications {
		width: 400px;
		position: fixed;
		bottom: 10px;
		left: 10px;
		font-size: 95%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.notification {
		width: 100%;
		max-height: 201px;
		background: white;
		border: 1px solid #C4C6C7;
		position: relative;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.notification h1 {
		font-size: 95%;
	    border: none;
	    background-color: #222d32;
	    padding: 10px 15px;
	    color: white;
	    border-bottom: 1px solid #CBE0EE;

	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	    box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
	}
	.notification h1 i {
		font-size: 150%;
		cursor: pointer;
	}
	.notification_body {
		background: white;
		padding: 5px;
	}
	.notification_pic_and_author {
		width: 100px;
		float: left;
		text-align: center;
	}
	.pictre_holder {
		width: 100px;
		height: 100px;
	}
	.pictre_holder img {
		width: 100%;
		border: 5px solid white;

		border-radius: 50%;
	}
	.notification_from {
		font-weight: bold;
		margin: 10px 0;
	}
	.notification_from:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	.notification_text {
		float:left;
		padding: 10px;
		width: calc(100% - 100px);
		max-height: 128px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
/* END Notifications */

@media only screen and (max-width: 1366px) {

	div#profile_cover_and_accordeon {
		order: 4;
		width: 100%;
		margin: 10px 0;
	}

	div#user_location_map {
		margin: 0 10px;
    	width: calc(100% - 220px) !important;
	}
}

@media only screen and (max-width: 1024px) {

	aside#contacts_and_photos {
		width:100%;
	}

	aside#contacts_and_photos .section {
    	width: calc(50% - 5px);
		float: left;
	}

	section#user_photos {
		float: left;
		margin: 0 0 0 10px !important;
	}

	section#diary {
		float: left;
	}
}

@media only screen and (max-width: 800px) {

	div#menu_toggle {
		display: block;
	}

	nav#main_nav {
		width: 100%;
		height: auto;
		min-height: 100%;
		clear: both;
		float: none;
		display: none;
	}
	nav#main_nav .section_heading {
		padding: 0;
	}

	div#page_content {
		margin-left: 0;
		height: auto;
	}

	div#content_wrapper {
		height: auto;
	}
}

@media only screen and (max-width: 603px) {

	header#inner .logo {
		margin-left: 10px;
	}
	header div#user_top_panel {
		margin-right: 10px;
	}

	div#user_location_map {
		width: 100% !important;
		margin: 5px 0 !Important;
	}

	section#user_contacts,
	section#user_photos {
		width: 100% !important;
	}

	section#user_photos {
		width: 100% !important;
    	margin: 10px 0 0 0 !important;
	}

	.diary_record_images li {
		width: calc(50% - 20px) !important;
	}
}

@media only screen and (max-width: 533px) {

	header div#user_top_panel .buttons {
		display: none;
	}

	.section_content {
		padding: 5px !important;
	}

	.info_data {
		margin-left: 10px !important;
	}

	.hide_for_w533 {
		display: none;
	}

	div#notifications {
		width: 350px;
		font-size: 95%;
	}

}

@media only screen and (max-width: 414px) {
	header div#user_top_panel {
		display: none;
	}

	.likes_dislikes_wrapper {
		font-size: 74%;
    	font-weight: bold;
    	margin: 0 5px;
	}

	div#notifications {
		width: 237px;
		font-size: 80%;
	}

	.info_data {
		width: 100%;
	}

	.diary_record_images li {
		width: calc(100% - 20px) !important;
	}

	.diary_record_images li:first-child, 
	.diary_record_images li:nth-child(2) {
    	width: calc(100% - 20px) !important;
	}
}

@media only screen and (max-width: 320px) {

	.hide_for_w320 {
		display: none;
	}
}