.tabs > ul > li {
	width: 50%;
}
.album {
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #F0F0F0;
}
.album_photos ul {
	width: 100%;
	height: auto;

	display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
.album_photos ul li {
	list-style: none;
	width: 135px;
	min-width: 135px;
	max-width: 135px;
	float: right;
	width: calc(10% - 10px);
	margin: 10px 5px;
	border: 1px solid #F0F0F0;
	display: flex;
	flex-flow: row wrap;
    cursor: pointer;
    text-align: right;
	cursor: pointer;
	/*min-height: 178px;*/
	min-height: 212px;

}
.album_photos ul li:hover {
	border: 1px solid #E4E4E4;
	background-color: #d7efff;
}
.album_photos ul li:hover > .img_stats {

}
.album_photos ul li img {
	width: 100%;
	height: 100%;
	border: 5px solid white;
}
.album_photos ul li .img_stats {
	min-width: 100%;
	color: #8F8F8F;
	padding: 0 5px 5px 0;

	align-self: flex-end;
}
.album_photos ul li .img_stats span {
	margin: 5px;
	padding: 0 2px;
	font-size: 90%;
	display: block;
}
.album_title {
	font-weight: bold;
	color: #C4BFBF;
	padding-top: 15px;
    padding-left: 10px;
}

#profile_pictures h3 {
    padding: 10px;
    display: block;
    width: 100%;
    font-size: 98%
}

/* START Profile Covers */
.profile_cover {
	width: 100%;
}
.profile_cover_container {
	/*width: 62.2%;*/
	width: 100%;
	border: 5px solid white;
    overflow: hidden;
    position: relative;
    float: left;

    display: flex;
    justify-content:center;
}
.profile_cover_wrapper {
	border: 1px solid #F0F0F0;
	display: flex;
}
.profile_cover_container img {
	width: 100%;
	max-width: 1051px;
	height: 100%;
    border: 5px solid white;
}
.profile_cover_buttons {
	margin: 10px 0;
	width: 100%;
}
/* END Profile Covers */

/* START Profile pictures */
.profile_pictures_wrapper {
	width: 100%;
	margin: 10px;
}
.profile_picture {
	width: 50%;
	float: left;
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}
.profile_pictures_wrapper .for_web {
	border-right: 1px solid #F0F0F0;
}
.image_wrapper {
	width: 200px;
	border: 1px solid #F0F0F0;
	margin: 5px;
	display: flex;
}
.image_wrapper img {
	width: 100%;
	height: 100%;
	border: 5px solid white;
}
.profile_pic_buttons {
	width: 100%;
	margin: 5px;
}
.profile_pic_buttons button {
	margin: 5px 0;
}
/* END Profile pictures*/

@media only screen and (max-width: 1023px) {

	.album_title {
		float: none !important;
		text-align: right;
		padding: 10px;
	}
}